* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
}

#game-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.2rem;
    text-transform: uppercase;

    margin-top: 5vh;

    height: 10vh;

    color: #ffffff;

    -webkit-text-stroke: 0.2vh #ff1a1a;

    text-shadow:
        0 0 0.4vh #ff1a1a,
        0 0 1vh   #ff1a1a,
        0 0 2vh   #ff1a1a,
        0 0 4vh   #ff0000,
        0 0 8vh   #b00000;
}

canvas {
    background: #eee;

    width: 60vw;
    height: auto;
    max-height: 80vh;

    border-radius: 1.8vh;

    border: 0.3vh solid #00faff;

    box-shadow:
        0 0 0.6vh #00faff,
        0 0 1.4vh #00faff,
        0 0 2.8vh #00e1ff,
        0 0 4.8vh #00e1ff;
}
