.center {
    display: -webkit-box;  /* iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;

    width: 100%;
}


#score {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;

    color: #39ff14; /* Neon Green */

    /* Neon Glow Layers */
    text-shadow:
    0 0 4px  #39ff14,
    0 0 10px #39ff14,
    0 0 20px #39ff14,
    0 0 40px #00ff00,
    0 0 80px #00ff00;
}

#score {
    height: 10vh;
}

#highscores {
    height: 70vh;
}

#highscores ol {
    counter-reset: section;
    -moz-column-count: 2;
    -moz-column-gap: 25vw;
    -webkit-column-count: 2;
    -webkit-column-gap: 25vw;
    column-count: 2;
    column-gap: 25vw;
}

#highscores ol li {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;

    color: #00faff;

    /* Neon Glow Layers */
    text-shadow:
    0 0 4px #00faff,
    0 0 10px #00faff,
    0 0 20px #00faff,
    0 0 40px #00e1ff,
    0 0 80px #00e1ff;
}

.hidden {
    opacity: 0;
}

#retry {
    border-radius: 2vh;
    height: 15vh;
    padding: 1vh;
    background-color: #00f;
    transition: top ease 0.5s;
}

#retry:hover {
    transition-duration: 10ms;
    transition-property: transform;
    transform: translate(5px, 5px);
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
